extends ../shared/template
block content

  button#red RED
  button#yellow YELLOW
  button#color COLOR
  input#color-value(type='color')
  
  h2 Home Page!
  #a A
  #b B
  #c C
  ul
    li D
    li E
    li F
  .g G
  .h H
  .i I

  button#fadeIn FADE IN
  button#fadeOut FADE Out
  input#fadeTime

  footer (c) Shruti Sharma

block scripts
  scripts(src='js/user/main.js')
  scripts(src='js/user/alpha.js')
